<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top " >
    <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24">
                <use xlink:href="#bootstrap"></use>
            </svg>
        </a>
        <span class="mb-3 mb-md-0 text-muted">Geeta-Gyan, made with ❤️ by Mayur Bandil</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a target="_blank" class="text-muted" href="https://www.linkedin.com/in/mayur-bandil-9838091bb/"><svg class="bi" width="24" height="24">
                    <i class="fa fa-brands fa-linkedin" style="color: #929292;"></i>
                </svg></a></li>
        <li class="ms-3"><a target="_blank" class="text-muted" href="https://github.com/mayurbandil"><svg class="bi" width="24" height="24">
                    <i class="fa fa-brands fa-github" style="color: #929292;"></i>
                </svg></a></li>
        <li class="ms-3 me-5"><a target="_blank" class="text-muted" href="https://www.instagram.com/_bandil_/"><svg class="bi" width="24" height="24">
<i class="fa fa-brands fa-instagram" style="color: #929292;"></i>
                </svg></a></li>
    </ul>
</footer>