<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <form action="/users/create" method="POST">

                        <h3 class="mb-5">Sign Up</h3>

                        <div class="form-outline mb-4">
                            <input type="text" name="name" id="typeEmailX-2" class="form-control form-control-lg"
                                placeholder="Name" required />
                        </div>
                        <div class="form-outline mb-4">
                            <input type="email" name="email" id="typeEmailX-2" class="form-control form-control-lg"
                                placeholder="Email" required />
                        </div>


                        <div class="form-outline mb-4">
                            <input type="password" name="password" id="typePasswordX-2"
                                class="form-control form-control-lg" placeholder="Password" required />
                        </div>

                        <div class="form-outline mb-4">
                            <input type="password" name="confirm_password" id="typePasswordX-2"
                                class="form-control form-control-lg" placeholder="Confirm Password" required />
                        </div>


                        <button class="btn btn-light btn-lg btn-block" type="submit" value="Sign Up">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>